.App{
  width: 15%;
  /* height: 100px; */
  /* text-align: center; */
  margin: auto;
 
  
}
.btn{
  width: 50px;
  height: 50px;
  background-color: skyblue; 
}

.red{
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
}

.green{
  display: block;
  width: 100px;
  height: 100px;
  background-color: green;
}